.rootRoute {
  background-color: var(--bg-dark-2);
  color: var(--text-light);
  height: 100%;

  display: grid;
}

.callToAction {
  background-color: var(--secondary-2);
  padding: 10px;
  height: min-content;
  display: grid;
  row-gap: 10px;
}

.callToAction * {
  text-align: center;
}

.cta1 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
}

.cta2 {
  font-size: 4rem;
  text-shadow: 1px 1px 4px black;
  margin: 20px 0;
}

.cta3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
}
