.Menu {
  display: grid;
  grid-template: 70px min-content 1fr min-content / 1fr 1fr;
  grid-template-areas:
    "title cancel"
    "links links"
    ". ."
    "regions regions";
  background-color: var(--bg-dark-1);
  width: 100vw;
  min-height: 100vh;
  z-index: 10;
}

.title {
  grid-area: title;
  justify-self: start;
  align-self: center;
  margin-left: 10px;
  font-size: 2.5rem;
  color: var(--bg-light-1);
  text-shadow: 2px 2px 1px var(--bg-dark-2);
}

.cancelBtn {
  grid-area: cancel;
  width: 35px;
  align-self: center;
  justify-self: end;
  margin-right: 8px;
  background-color: var(--bg-dark-2);
  border-radius: 50px;
}

.links {
  grid-area: links;
  display: grid;
  row-gap: 18px;
  list-style: none;
  background-color: var(--bg-light-1);
  border-radius: 5px;
  box-shadow: 1px 1px 2px black inset;
  padding: 10px 8px;
  margin: 0 8px;
}

.links li {
  border-left: 3px solid var(--primary-1);
  border-right: 3px solid var(--secondary-1);
  border-radius: 5px;
  width: fit-content;
  background-color: var(--bg-light-2);
  box-shadow: 1px 1px 3px var(--bg-dark-1);
}

.links a {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 1.5rem;
}

.regionButtons {
  grid-area: regions;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  margin: 0 8px;
  margin-bottom: 40px;
  padding: 0 8px;
  padding-bottom: 12px;
  background-color: var(--bg-dark-2);
  box-shadow: 1px 1px 2px black inset;
  border-radius: 5px;
}

.regionButtons button {
  height: 40px;
  margin-bottom: 8px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: var(--trinary-1);
  font-weight: bold;
  color: var(--text-dark);
}

.regionButtons .selectedRegion {
  background-color: var(--trinary-2);
}

.regionButtons h1 {
  justify-self: center;
  grid-column: -1/1;
  font-size: 1.8rem;
  color: var(--bg-light-1);
  text-shadow: 2px 2px 1px black;
}
