.ProductCard {
  color: var(--text-dark);
  font-weight: bold;

  width: 150px;
  background-color: var(--bg-light-1);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  border: 3px solid var(--bg-light-2);
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 5px;

  display: grid;
  grid-template: min-content 115px min-content min-content/ min-content min-content 1fr 1fr;
  grid-template-areas:
    "name name name name"
    "image image image image"
    "level gender pokedollar price"
    "add add add add";
  place-items: center;
  row-gap: 5px;
}

.image {
  grid-area: image;
  background-color: var(--bg-light-2);
  border-radius: 5px;
  border: 2px double var(--bg-dark-1);
  box-shadow: 2px 2px 2px grey inset;
}

.name {
  grid-area: name;
  font-size: 1.2rem;
}

.level {
  grid-area: level;
  justify-self: start;
  text-wrap: nowrap;
  margin-left: 5px;
}

.gender {
  grid-area: gender;
  justify-self: end;
  height: 15px;
  width: 15px;
  margin-left: 5px;
  padding-bottom: 3px;
}

.AddToCartButton {
  grid-area: add;
}

.price {
  grid-area: price;
  justify-self: start;
  margin-right: 5px;
}

.pokedollar {
  grid-area: pokedollar;
  height: 15px;
  justify-self: end;
}
