.ProductCard {
  color: var(--text-dark);
  font-weight: bold;

  width: 150px;
  background-color: var(--bg-light-1);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  border: 3px solid var(--bg-light-2);
  box-sizing: border-box;

  display: grid;
  grid-template: min-content 115px min-content min-content/ min-content 1fr min-content;
  grid-template-areas:
    "name name name"
    "image image image"
    "level level gender"
    "pokedollar price add";
  place-items: center;
}

.image {
  grid-area: image;
}

.name {
  grid-area: name;
  font-size: 1.2rem;
  padding-top: 5px;
}

.level {
  grid-area: level;
  justify-self: start;
  text-wrap: nowrap;
  padding-left: 5px;
}

.gender {
  grid-area: gender;
  font-size: 1.6rem;
  font-weight: bold;
}

.AddToCartButton {
  grid-area: add;
}

.price {
  grid-area: price;
  padding-right: 5px;
  justify-self: start;
}

.pokedollar {
  grid-area: pokedollar;
  height: 15px;
  justify-self: end;
}
