.ShoppingCart {
  display: grid;
  grid-template: min-content min-content min-content / 1fr 1fr;
  grid-template-areas:
    "cancel title"
    "items items"
    "checkout checkout";

  background-color: var(--bg-dark-1);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.cancelBtn {
  grid-area: cancel;
  width: 30px;
  align-self: center;
  margin-left: 20px;
}

.title {
  grid-area: title;
  justify-self: center;

  font-size: 2.5rem;
  color: var(--bg-light-1);
}

.cartItemContainer {
  grid-area: items;
  display: grid;
  grid-auto-rows: 40px;
  row-gap: 10px;

  max-height: 400px;
  overflow-y: auto;

  background-color: var(--bg-light-1);
  padding: 10px 0;
  margin: 0 8px;
}

.cartItem {
  display: grid;
  grid-template: 1fr / 1fr 14ch 105px 8ch 1fr;
  grid-template-areas: ". name button lineTotal .";
}

.itemName {
  grid-area: name;
  justify-self: start;
  align-self: center;
}

.addToCartButton {
  grid-area: button;
}

.lineTotal {
  grid-area: lineTotal;
  justify-self: end;
}
