.ShoppingCart {
  display: grid;
  grid-template: repeat(5, min-content) / 1fr 1fr;
  grid-template-areas:
    "title cancel"
    "items items"
    "total total"
    ". checkout"
    ". error";
  row-gap: 10px;

  background-color: var(--bg-dark-1);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.cancelBtn {
  grid-area: cancel;
  width: 30px;
  align-self: center;
  justify-self: end;
  margin-right: 8px;
}

.title {
  grid-area: title;
  justify-self: start;
  margin-left: 10px;
  font-size: 2.5rem;
  color: var(--bg-light-1);
}

.cartItemContainer {
  grid-area: items;
  display: grid;
  grid-auto-rows: 40px;
  row-gap: 10px;

  max-height: 380px;
  overflow-y: auto;

  background-color: var(--bg-light-1);
  padding: 10px 0;
  margin: 0 8px;
}

.cartItem {
  display: grid;
  grid-template: 1fr / 1fr 14ch 105px 9ch 1fr;
  grid-template-areas: ". name button lineTotal .";
}

.itemName {
  grid-area: name;
  justify-self: start;
  align-self: center;
}

.addToCartButton {
  grid-area: button;
}

.lineTotal {
  grid-area: lineTotal;
  justify-self: end;
  align-self: center;
}

.lineTotal img {
  height: 12px;
}

.cartTotal {
  grid-area: total;
  justify-self: end;

  background-color: var(--bg-dark-2);
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 5px;

  color: var(--text-light);
  font-size: 1.6rem;
}

.cartTotal img {
  height: 0.7em;
  filter: invert();
}

.checkoutButton {
  grid-area: checkout;
  height: 50px;
  margin-right: 8px;

  font-weight: bold;
  font-size: 1.2rem;

  background-color: var(--trinary-1);
  border: 2px solid var(--bg-dark-2);
  border-radius: 5px;
}

.checkoutButton:active {
  background-color: var(--trinary-2);
}

.checkoutError {
  grid-area: error;
  justify-self: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--primary-1);
  background-color: white;
  border-radius: 5px;
  border: 1px solid red;
  width: 100px;
}
