.AddToCartButton {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr / 1fr 2fr 1fr;
  column-gap: 1px;
  background-color: var(--trinary-1);
  border: 2px solid var(--bg-dark-1);
  border-radius: 5px;
}

.initialButton {
  grid-column: -1/1;
  height: 40px;
  font-size: 0.85rem;
  font-weight: bold;
  text-wrap: nowrap;
  background-color: var(--trinary-1);
  border: none;
  padding: 0;
  margin: 0;
}

.quantityLabel {
  text-wrap: nowrap;
  align-self: center;
  justify-self: center;
  width: 30px;
}

.quantityInput {
  align-self: center;
  justify-self: center;
  width: 30px;
  text-align: center;
}

.addButton,
.subtractButton {
  height: 40px;
  border: none;
  font-weight: bold;
  font-size: 1.3rem;
}

.addButton {
  background-color: var(--primary-1);
  border-left: 2px solid var(--bg-dark-1);
}

.subtractButton {
  background-color: var(--secondary-1);
  border-right: 2px solid var(--bg-dark-1);
}
