.AddToCartButton {
  display: grid;
  grid-auto-flow: column;
  column-gap: 3px;
}

.AddToCartButton p {
  text-wrap: nowrap;
  align-self: center;
  justify-self: center;
  width: 33px;
}

.AddToCartButton button {
  height: 40px;
  width: 25px;
}

.AddToCartButton img {
  height: 40px;
  width: 40px;
}
