.NavBar {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr / 1fr 1fr 1fr;
  align-items: center;

  position: relative;

  background: var(--bg-light-1);
  padding: 5px 0px;
  border-bottom: 2px solid var(--bg-dark-1);

  min-height: 45px;
  max-height: 65px;
}

.menuBtn {
  justify-self: start;
  margin-left: 10px;
  height: 58px;
  cursor: pointer;
}

.homeBtn {
  justify-self: center;
  height: 58px;
}

.homeBtn img {
  height: inherit;
}

.cartBtn {
  justify-self: end;
  margin-right: 10px;
  height: 46px;
  cursor: pointer;
  position: relative;
}

.cartBtn img {
  height: 100%;
}

.cartQuantity {
  position: absolute;
  bottom: 26px;
  left: 20px;

  font-size: 0.8rem;
  text-align: center;

  width: 3ch;
  padding: 3px;
  background-color: var(--primary-1);

  border-radius: 50px;
  border: 2px solid var(--bg-dark-1);
}
