.NavBar {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr / 1fr 1fr 1fr;
  align-items: center;

  position: relative;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    112deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(226, 74, 110, 1) 20%,
    rgba(2, 0, 36, 1) 50%,
    rgba(132, 128, 198, 1) 80%,
    rgba(2, 0, 36, 1) 100%
  );

  border-bottom: 1px solid black;

  min-height: 45px;
  max-height: 65px;
}

.menuBtn {
  justify-self: start;
  margin-left: 10px;
  height: 58px;
  cursor: pointer;
}

.homeBtn {
  justify-self: center;
  margin: 5px 0px;
  height: 58px;
}

.homeBtn img {
  height: inherit;
}

.cartBtn {
  justify-self: end;
  margin-right: 10px;
  height: 46px;
  cursor: pointer;
}
