.NavBar {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr / 1fr 1fr 1fr;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    112deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(226, 74, 110, 1) 20%,
    rgba(2, 0, 36, 1) 50%,
    rgba(132, 128, 198, 1) 80%,
    rgba(2, 0, 36, 1) 100%
  );

  border: 3px solid black;

  min-height: 45px;
  max-height: 80px;

  font-size: 14px;
}

.navBtn {
  background-color: rgb(239, 239, 239);
  color: black;
  text-decoration: none;
  text-align: center;

  align-items: flex-start;
  box-sizing: border-box;

  padding: 1px 6px;

  border: 1px solid rgb(118, 118, 118);
  border-style: outset;
  border-radius: 3px;

  cursor: default;
}

.navBtn:hover {
  background-color: rgb(229, 229, 229);
}

.navBtn:active {
  background-color: rgb(244, 244, 244);
}

.productsBtn {
  justify-self: start;
}

.homeBtn {
  justify-self: center;
}

.cartBtn {
  justify-self: end;
}
