/* Color Scheme */
:root {
  --text-dark: #000000;
  --text-light: #ffffff;
  --text-link: #2fa7d6;

  --bg-light-1: #f1eeef;
  --bg-light-2: #cecacb;

  --bg-dark-1: #4c4f56;
  --bg-dark-2: #34363d;

  --primary-1: #e24a6e;
  --primary-2: #a52c48;

  --secondary-1: #8480c6;
  --secondary-2: #4f4c81;

  --trinary-1: #f7e5c2;
  --trinary-2: #fdba30;
}

/* Global Styles */
p {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.MainLayout {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template: min-content 1fr / 1fr;
}

.NavLinks {
  position: absolute;
  top: 0;
  left: -100%;
  transition: transform 0.3s ease-in-out;
}

.NavLinksOpen {
  transform: translateX(100%);
}

.ShoppingCart {
  position: absolute;
  top: 0;
  right: -100%;
  transition: transform 0.3s ease-in-out;
}

.ShoppingCartOpen {
  transform: translateX(-100%);
}

.routeContainer {
  height: 100%;
  overflow-y: auto;
}
