:root {
  --text-dark: #000000;
  --text-light: #ffffff;
  --text-link: #2fa7d6;

  --bg-light-1: #f1eeef;
  --bg-light-2: #cecacb;

  --bg-dark-1: #4c4f56;
  --bg-dark-2: #34363d;

  --primary-1: #e24a6e;
  --primary-2: #a52c48;

  --secondary-1: #8480c6;
  --secondary-2: #4f4c81;

  --trinary-1: #f7e5c2;
  --trinary-2: #fdba30;
}

.MainLayout {
  position: relative;
}

.NavLinks {
  position: absolute;
  top: 0;
  left: -100%;
  transition: transform 0.3s ease-in-out;
}

.NavLinksOpen {
  transform: translateX(100%);
}
